@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}
:root {
  --color-bg-dark: #080808;
  --bg-dark-light: #1b1b1b;
  --text-color-light: #9c9c9c;
  --border-dark: #1b1b1b;
  --color-primary: #62ba1b;
  --color-primary-dark: #3f8e00;
  --text-color-dark: #000;
  --color-white: #fff;
  --transition: all 0.5s ease;
}
html,
body {
  scroll-behavior: smooth;
  background-color: var(--color-white);
  color: var(--text-color-light);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
p {
  line-height: 1.7;
}
img {
  width: 100%;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 40px;
}
/* ====== Common style ====== */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
button.btn {
  padding: 15px 35px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 10px;
  font-size: 18px;
  color: var(--color-white);
  cursor: pointer;
  margin-top: 30px;
  transition: var(--transition);
}
button.btn:hover {
  box-shadow: 0 2px 15px var(--color-primary-dark);
}
.sec-title {
  margin: 0 auto;
  text-align: center;
  max-width: 60%;
}
.title {
  color: var(--text-color-dark);
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: 700;
}
.title.title-white {
  color: var(--color-white) !important;
}
/* ======= navbar ===== */
.header-sec {
  background-color: var(--bg-dark-light);
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header-sec .container {
  padding: 20px 30px;
}
.logo h3 {
  font-size: 25px;
  font-weight: 700;
  color: var(--color-white);
}
.navbar,
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.navbar li a {
  color: var(--text-color-light);
  font-size: 20px;
  transition: var(--transition);
  font-weight: 500;
}
.navbar li a:hover {
  color: var(--color-white);
}
.social-icon {
  gap: 15px;
}
.social-icon i {
  font-size: 25px;
  color: var(--text-color-light);
  transition: var(--transition);
}
.social-icon i:hover {
  color: var(--color-white);
  cursor: pointer;
}
.menu-icon {
  width: 35px;
  height: 35px;
  border: 1px solid var(--text-color-light);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  display: none;
}
.menu-icon i {
  font-size: 25px;
  color: var(--text-color-light);
  font-weight: 600;
  transition: all 0.5s ease;
}
.menu-icon:hover {
  box-shadow: 0 0 20px var(--text-color-light);
  cursor: pointer;
}
.menu-icon:hover i {
  color: var(--color-white);
}
/* ======= Hero section ===== */
.hero-sec {
  background-color: var(--color-bg-dark);
  min-height: 100dvh;
  display: flex;
  align-items: center;
}
.hero-content {
  width: 50%;
}
.hero-title {
  font-size: 45px;
  font-weight: 700;
  color: var(--color-white);
  margin-bottom: 25px;
}
.hero-title span {
  color:var(--color-primary)
}
.hero-content p {
  margin-bottom: 30px;
}
.footer-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.footer-wrapper h4 {
  margin-top: 30px;
}
.work-place {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.place-name {
  border: 1px solid var(--bg-dark-light);
  border-radius: 8px;
  padding: 10px 20px;
}
.place-name img {
  height: 20px;
}
/* ======= Studies section ===== */
.studies {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.single-studie {
  display: grid;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.studies-text h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: var(--text-color-dark);
}
.studies-image img {
  width: 100%;
}
/* ======= Testimonials section ===== */
.testimonial-sec {
  background-color: var(--color-bg-dark);
}
.client-area {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.single-client {
  border: 1px solid var(--border-dark);
  border-radius: 20px;
  padding: 50px 30px;
  position: relative;
}
.quotes_icon {
  position: absolute;
  top: -34px;
  left: 40px;
  color: var(--color-white);
  font-size: 60px;
}
.client-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 30px;
}
.client-info img {
  width: 60px;
  height: 60px;
}
.client-info h4 {
  color: var(--color-white);
}
/* ======= Works section ===== */
.works-sec{
background-color: var(--border-dark);
}
.works-sec h1{
  color: #fff;
}
.work-content {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.single-work {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0px 2px 10px #ececec;
}
.single-work img {
  width: 100%;
}
.work-info {
  margin-top: 20px;
  margin-bottom: 20px;
}
.work-info h2 {
  color: var(--text-color-dark);
  margin-bottom: 10px;
}
/* ======= Contact section ===== */
.contact-sec {
  background-color: var(--color-bg-dark);
}
.contact-form {
  margin-top: 80px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 500px;
  margin: 0 auto;
  gap: 15px;
  box-shadow: 0 0 1000px var(--color-primary);
  padding: 50px 30px;
  border-radius: 20px;
}
.form form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.form label {
  color: var(--color-white);
  font-size: 16px;
}
.form input {
  height: 40px;
}
.form input,
.form textarea {
  width: 100%;
  outline: none;
  background-color: var(--color-white);
  border-radius: 5px;
  border: none;
  padding: 5px;
}
.form button.btn {
  width: 100%;
}
.social-links {
  margin-top: 20px;
  text-align: center;
}

.social-links a {
  margin: 0 12px;
  font-size: 18px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a:hover {
  transform: scale(1.1);
}

/* Brand colors */
.social-links a.x { color: #ffff  ; }        /* X */
.social-links a.linkedin { color: #ffff; }
.social-links a.github { color: #ffffff; }
.social-links a.whatsapp { color:#ffffff; }
.social-links a.mail { color:#ffffff; }
/* ========= footer ======== */
.footer {
  padding: 30px;
  background-color: var(--color-bg-dark);
  color: var(--text-color-light);
  text-align: center;
}

/* ===================
*** Media Query 
===================== */

/* screen 1080px */
@media (max-width: 1080px) {
}
/* screen 900px */
@media (max-width: 900px) {
  .menu-icon {
    display: flex;
  }
  .navbar {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--bg-dark-light);
    width: 280px;
    border-radius: 10px;
    padding: 30px 10px;
    margin-top: 5px;
    box-shadow: 0px 0px 5px var(--text-color-light);
    transition: var(--transition);
  }
  .navbar.active {
    right: 0;
  }
  .hero-sec .wrapper {
    flex-direction: column;
  }
  .hero-content {
    width: 100%;
  }
  .hero-content {
    margin-top: 50px;
  }

  .work-place {
    flex-wrap: wrap;
  }
  .single-studie {
    grid-template-columns: 1fr;
  }
  .sec-title {
    max-width: 100%;
  }
  #studies .single-studie.studies-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .studies-image {
    width: 100%;
  }
}
/* screen 768px */
@media (max-width: 768px) {
  .client-area,
  .work-content {
    grid-template-columns: 1fr;
  }
  .hero-title {
    font-size: 30px;
  }
}
/* screen 500px */
@media (max-width: 500px) {
  .hero-title {
    font-size: 30px;
  }
}
